<h1>Vue.js サンプル</h1>
<div id="hello">
  <transition>
    <p class="message" v-if="show"> {{ message }} </p>
  </transition>
  <button v-on:click="japanese">日本語表示</button>
  <button v-on:click="english">英語表示</button>
  <button v-on:click="show = !show">出し入れ</button>
</div>
<%= javascript_pack_tag 'hello_vue' %>
